<h1 style="color: black; font-size: 24px;">Data cleaning :)</h1>

In [27]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine
from datetime import datetime, date
from ast import literal_eval

import warnings
warnings.filterwarnings('ignore')

engine = create_engine("sqlite:///Kickstarter.db")

In [29]:
query = "SELECT * FROM data"
df = pd.read_sql(query, engine)


print(df.shape)
df.head()

(591566, 39)

,backers_count,blurb,category,converted_pledged_amount,country,country_displayable_name,created_at,creator,currency,currency_symbol,...,state_changed_at,static_usd_rate,urls,usd_exchange_rate,usd_pledged,usd_type,friends,is_backing,is_starred,permissions
0,8,"A new, for-profit community theatre group base...","{""id"":285,""name"":""Plays"",""analytics_name"":""Pla...",291.0,US,the United States,1541529891,"{""id"":219654596,""name"":""Nicole Stephens"",""is_r...",USD,$,...,1545933644,1.00000,"{""web"":{""project"":""https://www.kickstarter.com...",1.000000,291.000000,international,None,None,None,None
1,1,"A 25 minute play with 5 scenes, including an o...","{""id"":285,""name"":""Plays"",""analytics_name"":""Pla...",1.0,US,the United States,1536253805,"{""id"":118562988,""name"":""John"",""is_registered"":...",USD,$,...,1548445522,1.00000,"{""web"":{""project"":""https://www.kickstarter.com...",1.000000,1.000000,international,None,None,None,None
2,5,Help us recovering the Opera tradition in one ...,"{""id"":285,""name"":""Plays"",""analytics_name"":""Pla...",695.0,IT,Italy,1541602785,"{""id"":369054581,""name"":""Ass. Musicale Filarmon...",EUR,€,...,1544707632,1.13231,"{""web"":{""project"":""https://www.kickstarter.com...",1.136508,692.974014,international,None,None,None,None
3,6,Using the Power of Visual and Performing Arts ...,"{""id"":285,""name"":""Plays"",""analytics_name"":""Pla...",367.0,US,the United States,1540763981,"{""id"":288923957,""name"":""A. Pat Britten"",""slug""...",USD,$,...,1543626000,1.00000,"{""web"":{""project"":""https://www.kickstarter.com...",1.000000,367.000000,international,None,None,None,None
4,2,"Ché Walker's AMERICAN CARNAGE, a staged readin...","{""id"":285,""name"":""Plays"",""analytics_name"":""Pla...",2.0,US,the United States,1532828061,"{""id"":352858813,""name"":""Alex Guiney"",""is_regis...",USD,$,...,1541652524,1.00000,"{""web"":{""project"":""https://www.kickstarter.com...",1.000000,2.200000,international,None,None,None,None

<h3 style="color: black; font-size: 24px;">All columns</h1>

In [30]:
column_names = df.columns.tolist()
print(column_names)

['backers_count', 'blurb', 'category', 'converted_pledged_amount', 'country', 'country_displayable_name', 'created_at', 'creator', 'currency', 'currency_symbol', 'currency_trailing_code', 'current_currency', 'deadline', 'disable_communication', 'fx_rate', 'goal', 'id', 'is_starrable', 'launched_at', 'location', 'name', 'photo', 'pledged', 'profile', 'slug', 'source_url', 'spotlight', 'staff_pick', 'state', 'state_changed_at', 'static_usd_rate', 'urls', 'usd_exchange_rate', 'usd_pledged', 'usd_type', 'friends', 'is_backing', 'is_starred', 'permissions']

In [31]:
# get rid of the "column-headers rows"
df = df[df.created_at != "created_at"]
df.shape

(591566, 39)

In [34]:
df = df.drop(columns=['creator', 'country_displayable_name', 'currency_symbol', 'currency_trailing_code', 'current_currency', 
                            'disable_communication','friends', 'is_backing', 'is_starrable', 'is_starred', 
                            'permissions', 'photo', 'profile', 'source_url', 'urls','usd_exchange_rate'])

In [35]:
df.shape

(591566, 23)

In [36]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 591566 entries, 0 to 591565
Data columns (total 23 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   backers_count             591566 non-null  int64
 1   blurb                     591533 non-null  object
 2   category                  591566 non-null  object
 3   converted_pledged_amount  589944 non-null  float64
 4   country                   591566 non-null  object
 5   created_at                591566 non-null  int64
 6   currency                  591566 non-null  object
 7   deadline                  591566 non-null  int64
 8   fx_rate                   591566 non-null  float64
 9   goal                      591566 non-null  float64
 10  id                        591566 non-null  int64
 11  launched_at               591566 non-null  int64
 12  location                  590880 non-null  object
 13  name                      591566 non-null  object
 14  pledged                   591566 non-null  float64
 15  slug                      591566 non-null  object
 16  spotlight                 591566 non-null  int64
 17  staff_pick                591566 non-null  int64
 18  state                     591566 non-null  object
 19  state_changed_at          591566 non-null  int64
 20  static_usd_rate           591566 non-null  float64
 21  usd_pledged               589944 non-null  float64
 22  usd_type                  590858 non-null  object
dtypes: float64(6), int64(8), object(9)
memory usage: 108.3+ MB

In [37]:
# first looking at the ratio of successful and failed here
df.state.value_counts()

successful    364877
failed        186770
canceled       21998
live           16298
submitted       1437
started          185
suspended          1
Name: state, dtype: int64

In [38]:
df['state'] = df.state.astype(str)
# Only interested in success/fail champaigns
df = df[(df.state == "successful") | (df.state == "failed")]
df.shape

(551647, 23)

In [39]:
# Converting datetime objects
df['created_at'] = df['created_at'].astype(int)
df['created_at'] = pd.to_datetime(df['created_at'],unit='s')

df['deadline'] = df['deadline'].astype(int)
df['deadline'] = pd.to_datetime(df['deadline'], unit='s')

df['launched_at'] = df['launched_at'].astype(int)
df['launched_at'] = pd.to_datetime(df['launched_at'],unit='s')

df['state_changed_at'] = df['state_changed_at'].astype(int)
df['state_changed_at'] = pd.to_datetime(df['state_changed_at'],unit='s')

In [40]:
# df['duration'] = df.deadline - df.launched_at

In [41]:
# check for duplicates
df.id.value_counts()

718643586     28
1102542459    28
2065704485    28
1532933070    28
1255612140    28
              ..
823354882      1
1686016893     1
66745596       1
1781536709     1
1360935499     1
Name: id, Length: 197197, dtype: int64

In [48]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 551647 entries, 0 to 591565
Data columns (total 23 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   backers_count             551647 non-null  int64
 1   blurb                     551644 non-null  object
 2   category                  551647 non-null  object
 3   converted_pledged_amount  551647 non-null  float64
 4   country                   551647 non-null  object
 5   created_at                551647 non-null  datetime64[ns]
 6   currency                  551647 non-null  object
 7   deadline                  551647 non-null  datetime64[ns]
 8   fx_rate                   551647 non-null  float64
 9   goal                      551647 non-null  float64
 10  id                        551647 non-null  int64
 11  launched_at               551647 non-null  datetime64[ns]
 12  location                  550975 non-null  object
 13  name                      551647 non-null  object
 14  pledged                   551647 non-null  float64
 15  slug                      551647 non-null  object
 16  spotlight                 551647 non-null  int64
 17  staff_pick                551647 non-null  int64
 18  state                     551647 non-null  object
 19  state_changed_at          551647 non-null  datetime64[ns]
 20  static_usd_rate           551647 non-null  float64
 21  usd_pledged               551647 non-null  float64
 22  usd_type                  551360 non-null  object
dtypes: datetime64[ns](4), float64(6), int64(4), object(9)
memory usage: 101.0+ MB

In [49]:
df.drop_duplicates(subset=['id', 'state'], inplace=True)
df.shape

(197197, 23)

In [50]:
# Categories - Main category and sub_category
c = df.category.apply(literal_eval)
main_category = []
for i, d in enumerate(c):
    try:
        main_category.append(d['parent_name'])
    except:
        main_category.append(np.nan)
df['main_category'] = main_category
df.main_category.value_counts()

Music           26590
Film & Video    26351
Technology      19797
Publishing      19538
Art             19495
Food            14898
Games           12813
Fashion         10281
Design           8639
Comics           7929
Photography      6263
Crafts           5588
Theater          5130
Journalism       3556
Dance            1780
Name: main_category, dtype: int64

In [51]:
sub_category = []
for i, name in enumerate(d['name'] for d in c):
    sub_category.append(name)
df['sub_category'] = sub_category
df.sub_category.value_counts()

Web               3916
Product Design    3804
Tabletop Games    3434
Comedy            3155
Graphic Novels    3130
                  ...
Quilts              91
Residencies         89
Games               84
Chiptune            54
Taxidermy           11
Name: sub_category, Length: 161, dtype: int64

In [52]:
# Country - needs to condense the list
df.country.value_counts()

US    133022
GB     22485
CA      9358
AU      4701
DE      3887
MX      3210
FR      3178
IT      2805
ES      2474
HK      1892
NL      1739
SE      1467
JP       922
DK       911
SG       893
NZ       842
CH       735
IE       635
BE       624
AT       533
NO       448
PL       217
GR       109
LU        67
SI        43
Name: country, dtype: int64

In [53]:
ua_projects_count = df['country'].value_counts().get('UA', 0)
print(ua_projects_count)

0

In [54]:
dic = {"DK": "OTHER", "NZ": "OTHER", "SG": "OTHER", "CH": "OTHER", "BE": "OTHER", "IE": "OTHER",
      "JP": "OTHER", "AT": "OTHER", "NO": "OTHER", "LU": "OTHER", "PL": "OTHER", "GR": "OTHER",
      "SI": "OTHER"}
df = df.replace({"country": dic})
df.country.value_counts()

US       133022
GB        22485
CA         9358
OTHER      6979
AU         4701
DE         3887
MX         3210
FR         3178
IT         2805
ES         2474
HK         1892
NL         1739
SE         1467
Name: country, dtype: int64

In [55]:
# Currency - needs to convert all goal values to USD
df.currency.value_counts()

USD    133022
GBP     22485
EUR     16495
CAD      9358
AUD      4701
MXN      3210
HKD      1892
SEK      1366
JPY       922
SGD       893
NZD       842
DKK       839
CHF       683
NOK       418
PLN        71
Name: currency, dtype: int64

In [56]:
df['goal'] = df.goal.astype(float)
df['fx_rate'] = df.fx_rate.astype(float)
df['goal_usd'] = df.goal * df.fx_rate
df.head()

,backers_count,blurb,category,converted_pledged_amount,country,created_at,currency,deadline,fx_rate,goal,...,spotlight,staff_pick,state,state_changed_at,static_usd_rate,usd_pledged,usd_type,main_category,sub_category,goal_usd
0,8,"A new, for-profit community theatre group base...","{""id"":285,""name"":""Plays"",""analytics_name"":""Pla...",291.0,US,2018-11-06 18:44:51,USD,2018-12-27 18:00:43,1.000000,1000.0,...,0,0,failed,2018-12-27 18:00:44,1.00000,291.000000,international,Theater,Plays,1000.00000
1,1,"A 25 minute play with 5 scenes, including an o...","{""id"":285,""name"":""Plays"",""analytics_name"":""Pla...",1.0,US,2018-09-06 17:10:05,USD,2019-01-25 19:38:00,1.000000,10000.0,...,0,0,failed,2019-01-25 19:45:22,1.00000,1.000000,international,Theater,Plays,10000.00000
2,5,Help us recovering the Opera tradition in one ...,"{""id"":285,""name"":""Plays"",""analytics_name"":""Pla...",695.0,IT,2018-11-07 14:59:45,EUR,2018-12-13 13:27:12,1.155249,48000.0,...,0,0,failed,2018-12-13 13:27:12,1.13231,692.974014,international,Theater,Plays,55451.96832
3,6,Using the Power of Visual and Performing Arts ...,"{""id"":285,""name"":""Plays"",""analytics_name"":""Pla...",367.0,US,2018-10-28 21:59:41,USD,2018-12-01 01:00:00,1.000000,25000.0,...,0,0,failed,2018-12-01 01:00:00,1.00000,367.000000,international,Theater,Plays,25000.00000
4,2,"Ché Walker's AMERICAN CARNAGE, a staged readin...","{""id"":285,""name"":""Plays"",""analytics_name"":""Pla...",2.0,US,2018-07-29 01:34:21,USD,2018-11-08 04:48:43,1.000000,1500.0,...,0,0,failed,2018-11-08 04:48:44,1.00000,2.200000,international,Theater,Plays,1500.00000

In [57]:
df.usd_type.value_counts()

international    114350
domestic          82847
Name: usd_type, dtype: int64

In [58]:
# checking for NaN
df.isna().sum()

backers_count                  0
blurb                          3
category                       0
converted_pledged_amount       0
country                        0
created_at                     0
currency                       0
deadline                       0
fx_rate                        0
goal                           0
id                             0
launched_at                    0
location                     192
name                           0
pledged                        0
slug                           0
spotlight                      0
staff_pick                     0
state                          0
state_changed_at               0
static_usd_rate                0
usd_pledged                    0
usd_type                       0
main_category               8549
sub_category                   0
goal_usd                       0
dtype: int64

In [59]:
# fill main_category NaN with sub_category 
df[df.main_category.isna()]['sub_category'].value_counts()

Art             1751
Dance           1374
Crafts          1102
Journalism       726
Music            688
Food             520
Theater          517
Photography      456
Design           347
Technology       337
Comics           197
Publishing       169
Film & Video     162
Fashion          119
Games             84
Name: sub_category, dtype: int64

In [60]:
df.main_category.fillna(df.sub_category, inplace=True)
df.isna().sum()

backers_count                 0
blurb                         3
category                      0
converted_pledged_amount      0
country                       0
created_at                    0
currency                      0
deadline                      0
fx_rate                       0
goal                          0
id                            0
launched_at                   0
location                    192
name                          0
pledged                       0
slug                          0
spotlight                     0
staff_pick                    0
state                         0
state_changed_at              0
static_usd_rate               0
usd_pledged                   0
usd_type                      0
main_category                 0
sub_category                  0
goal_usd                      0
dtype: int64

In [61]:
# Fill NaN values in the "location" column with a specific value
df['location'].fillna('Unknown', inplace=True)

# Replace NaN values in the "blurb" column with an empty string
df['blurb'].fillna('', inplace=True)

In [62]:
df.isna().sum()

backers_count               0
blurb                       0
category                    0
converted_pledged_amount    0
country                     0
created_at                  0
currency                    0
deadline                    0
fx_rate                     0
goal                        0
id                          0
launched_at                 0
location                    0
name                        0
pledged                     0
slug                        0
spotlight                   0
staff_pick                  0
state                       0
state_changed_at            0
static_usd_rate             0
usd_pledged                 0
usd_type                    0
main_category               0
sub_category                0
goal_usd                    0
dtype: int64

In [63]:
kickstarter = df[['id', 'goal_usd', 'country', 'created_at', 'deadline',  'launched_at', 'state_changed_at',
                  'spotlight','staff_pick', 'main_category', 'sub_category', 'blurb', 'state']]
kickstarter.head()

,id,goal_usd,country,created_at,deadline,launched_at,state_changed_at,spotlight,staff_pick,main_category,sub_category,blurb,state
0,1883729963,1000.00000,US,2018-11-06 18:44:51,2018-12-27 18:00:43,2018-11-27 18:00:43,2018-12-27 18:00:44,0,0,Theater,Plays,"A new, for-profit community theatre group base...",failed
1,110053898,10000.00000,US,2018-09-06 17:10:05,2019-01-25 19:38:00,2018-11-27 15:22:37,2019-01-25 19:45:22,0,0,Theater,Plays,"A 25 minute play with 5 scenes, including an o...",failed
2,102406680,55451.96832,IT,2018-11-07 14:59:45,2018-12-13 13:27:12,2018-11-13 13:27:12,2018-12-13 13:27:12,0,0,Theater,Plays,Help us recovering the Opera tradition in one ...,failed
3,1821399542,25000.00000,US,2018-10-28 21:59:41,2018-12-01 01:00:00,2018-10-30 16:00:55,2018-12-01 01:00:00,0,0,Theater,Plays,Using the Power of Visual and Performing Arts ...,failed
4,825863534,1500.00000,US,2018-07-29 01:34:21,2018-11-08 04:48:43,2018-10-09 03:48:43,2018-11-08 04:48:44,0,0,Theater,Plays,"Ché Walker's AMERICAN CARNAGE, a staged readin...",failed

In [65]:
kickstarter.to_csv("../data/cleaned_data/kickstarter.csv", index= False)